@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
    --fonte-título: 'anton';
    --fonte-texto: 'roboto condensed', arial;
    --fonte-especial: 'bebas neue'
 }
 body {
    background-color: black;
    color: white;
 }
header {
    background-color: white;
    color: black;
    font-family: var(--fonte-título);
    padding: 10px 0px 10px 10px;
    text-align: center;
}
main {
    min-width: 350px;
    max-width: 1250px;
}
main > p {
    background-color: white;
    color: black;
    font-family: var(--fonte-texto);
    text-align: justify;
    padding: 5px;
}
main img{
    display: block;
    margin: auto;
}